main {
    width: 400px;
    height: 300px;
    margin: auto;
    margin-top: 300px;
}

.container {
    width: 400px;
    height: 200px;
    display: table-cell;
    vertical-align: middle;
    text-align: center;
    padding-bottom: 10px;
}

#value {
    font-size: 100px;
}

body {
    font-family: 'Josefin Sans', sans-serif;
}

.decrease:hover {
    background-color: red;
}

.increase:hover {
    background-color: green;
}